.advantages {
  background-color: $white-smoke;
  background-image: url("../img/iphone-smile.jpeg");
  background-repeat: no-repeat;
  background-size: 157px 320px;

  @media (min-width: $desktop-width) {
    padding-bottom: 59px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 68px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $midnight;
  margin: 0;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
