.advantages {
  @media (min-width: $desktop-width) {
    padding-bottom: 59px;
  }
}

.advantages__container--grey {
  @include triangle;
}

.advantages__list {
  list-style: none;
  display: grid;
  row-gap: 28px;
  place-content: center;
  padding: 0;
  margin: 10px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 319px;
  background-image: url("../img/iphone-smile_first.png");
  background-repeat: no-repeat;
  background-size: 157px 277px;
  background-position: center bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-smile_first@2x.png");
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-bottom: 9px;
    padding-left: 301px;
    padding-top: 67px;
    background-image: url("../img/iphone-smile_second.png");
    background-position: -10px 1px;
    background-size: 268px 481px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-smile_second@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 44px;
    padding-top: 0;
    padding-bottom: 49px;
    padding-left: 0;
    background-image: none;
  }
}

.advantages__block {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 14px;
  }
}

.advantages__block--tablet {
  @media (min-width: $tablet-width) {
    padding-top: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.advantages__main-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: $black;
  margin: 0;
  display: block;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 1.35;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 1.35;
    padding-top: 55px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 15px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $midnight;
  margin: 0;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__wrapper {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    // padding-top: 77px;
  }
}

.advantages__item {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 366px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: top;
  }
}

.advantages__item--rise {
  @media (min-width: $desktop-width) {
    background-image: url("../img/rise.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rise@2x.png");
    }
  }
}

.advantages__item--arround {
  @media (min-width: $desktop-width) {
    background-image: url("../img/arround.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/arround@2x.png");
    }
  }
}

.advantages__item--friends {
  @media (min-width: $desktop-width) {
    background-image: url("../img/friends.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/friends@2x.png");
    }
  }
}
