.advantages {
  background-color: #F2F2F2;
  background-image: url("../img/iphone-smile.jpeg");
  background-repeat: no-repeat;
  background-size: 157px 320px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.advantages__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
