.arrow-switch {
  border: none;
  position: relative;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.arrow-switch__buttons {
  background-repeat: no-repeat;
  background-size: 22px 41px;
  border: none;
  background-color: $white;
  cursor: pointer;
}

.arrow-switch__buttons--back {
  background-image: url("../img/arrow_back.svg");
  width: 22px;
  height: 41px;
  position: absolute;
  top: 20px;
  left: 120px;
}

.arrow-switch__buttons--next {
  background-image: url("../img/arrow_next.svg");
  width: 22px;
  height: 41px;
  position: absolute;
  top: 20px;
  right: 120px;
}
