.button {
  width: 276px;
  height: 59px;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
