.catalog-photos {
  line-height: 33px;
  color: $midnight;
  // background-image: url("../img/back-mobile.jpg");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 320px 462px;
}

.catalog-photos__opening-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background-color: $white;
  text-align: center;
  color: $midnight;
  margin: 0;
  padding-top: 54px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 97px;
  }
}
