.catalog-photos {
  line-height: 33px;
  color: $midnight;
  background-image: url("../img/back-mobile.jpg");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 320px 462px;
}

.catalog-photos__opening-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background-color: $white;
  text-align: center;
  color: $midnight;
}
