.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__text {
  font-size: 18px;
  line-height: 30px;
  padding-left: 22px;
}

.checkbox__input {
  width: 35px;
  height: 35px;
  margin-bottom: 24px;
  margin-top: 23px;
  border: 2px solid $whisper;
  border-radius: 1px;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__text::after {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 32px;
  left: 10px;
  width: 22px;
  height: 16px;
}

.checkbox__input[type="checkbox"]:checked:hover + .checkbox__text::before {
  outline: 2px solid $midnight;
}

.checkbox__input[type="checkbox"]:checked:focus + .checkbox__text::before {
  outline: 2px solid $cerise;
}

.checkbox__input[type="checkbox"]:checked:active + .checkbox__text::before {
  outline: 2px solid $cerise;
}

.checkbox__input[type="checkbox"] + .checkbox__text::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 4px;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $whisper;
  border-radius: 1px;
  cursor: pointer;
}

.checkbox__input[type="checkbox"]:hover + .checkbox__text::before {
  outline: 2px solid $midnight;
}

.checkbox__input[type="checkbox"]:focus + .checkbox__text::before {
  outline: 2px solid $cerise;
}

.checkbox__input[type="checkbox"]:active + .checkbox__text::before {
  outline: 2px solid $cerise;
}
