.contacts__wrapper {
  padding-top: 30px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 26px;
  }
}

.contacts__main-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 18px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    align-items: start;
  }
}

.contacts__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    padding: 0;
    margin-top: 61px;
  }
}

.contacts__item--address {
  order: 2;

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $midnight;
  padding: 0;
  // padding-bottom: 13px;
  margin: 0;
  font-style: normal;

  @media (min-width: $tablet-width) {
    // padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    // padding-bottom: 34px;
  }
}

.contacts__description {
  color: $cerise;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contacts__link {
  font-weight: 300;
  color: $cerise;
  font-style: normal;

  &:hover {
    color: $midnight;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $cerise;
    outline-offset: 2px;
  }

  &:active {
    color: $midnight;
    opacity: 0.3;
  }
}
