.contest {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 320px 462px;
  color: #283645;
}

.contest__title {
  margin: 0;
  margin-top: 54px;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
