.contacts {
  padding-top: 50px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 26px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.contacts__item {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 250px;
  }
}

.contacts__item--address {
  @media (max-width: $mobile-width-only) {
    order: 1;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $midnight;
  padding: 0;
  padding-bottom: 13px;
  margin: 0;
  font-style: normal;

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 34px;
  }
}

.contacts__description {
  color: $cerise;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contacts__link {
  font-weight: 300;
  color: $cerise;
  font-style: normal;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
  }
}
