.download {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $white;
  background-color: $black;
  background-image: url("../img/phone_first.png"),
    url("../img/main-background_first.jpg");
  background-repeat: no-repeat;
  background-size: 320px 286px, cover;
  background-position: 0 176px, 0 0;
  padding-top: 90px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/phone_first@2x.png"),
      url("../img/main-background_first@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/phone_second.png"),
      url("../img/main-background_second.jpg");
    background-size: 660px 545px, cover;
    background-position: -28px 193px, 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone_second@2x.png"),
        url("../img/main-background_second@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/phone_third.png"),
      url("../img/main-background_third.jpg");
    background-size: 1050px 645px, cover;
    background-position: calc(50% + 124px) 159px, 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone_third@2x.png"),
        url("../img/main-background_third@2x.jpg");
    }
  }
}

.download__description {
  background-color: $blue-charcoal;
  margin-top: 314px;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    padding-top: 0;
    margin-top: 39px;
    padding-bottom: 80px;
  }
}

.download__button {
  font-size: 18px;
  line-height: 18px;
  display: block;
  width: 280px;
  min-height: 55px;
  border: 3px solid $white;
  border-radius: 29px;
  color: $white;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &:hover {
    background-color: $white;
    color: $cerise;
  }

  &:focus {
    outline: 2px solid $cerise;
  }

  &:active {
    background-color: $white;
    color: rgba($cerise, 0.3);
  }
}

.download__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.download__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 31px;
}

.download__link {
  display: block;
  width: 47px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;

  &:focus {
    outline: 2px solid $cerise;
    outline-offset: 2px;
  }
}

.download__link--ios {
  background-image: url("../img/apple-logo.svg");
}

.download__link--android {
  background-image: url("../img/android-logo.svg");
}

.download__link--microsoft {
  background-image: url("../img/microsoft-logo.svg");
}

.download__subtitle {
  padding: 0;
  margin: 0;
  margin-top: -12px;
  padding-bottom: 31px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
