.download {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $white;
  background-image: url("../img/phone.jpeg");
  background-color: $blue-charcoal;
  background-repeat: no-repeat;
}

.download__button {
  width: 280px;
  min-height: 55px;
  border: 3px solid $white;
  border-radius: 29px;
  color: $white;
}

.download__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 58px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.download__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 28px;
}

.download__link {
  display: block;
  width: 47px;
  background-repeat: no-repeat;
  background-position: center;
}

.download__link--ios {
  background-image: url("../img/apple-logo.svg");
}

.download__link--android {
  background-image: url("../img/android-logo.svg");
}

.download__link--microsoft {
  background-image: url("../img/microsoft-logo.svg");
}

.download__subtitle {
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  text-align: center;
  padding-top: 38px;
}
