.field__input {
  width: 276px;
  border: 2px solid $whisper;
  border-radius: 1px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.field__input--comment {
  padding-left: 20px;
  padding-top: 22px;
}
