.field--emotions {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.field__input {
  width: 100%;
  border: 2px solid $whisper;
  border-radius: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.field__input::placeholder {
  color: $midnight;
  opacity: 1;
}

.field__input--comment {
  padding-left: 20px;
  padding-top: 22px;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-right: 0;
  }
}

.field__description {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-left: 0;
  }
}

.field--contact .field__description {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 20px;
  }
}

.field--phone .field__input {
  @media (min-width: $tablet-width) {
    background-image: url("../img/phone-icon.svg"),
      linear-gradient(to left, $whisper 60px, $white 60px);
    background-repeat: no-repeat;
    background-size: 20px 19px, auto;
    background-position: 451px 19px, 0 0;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    background-position: 328px 19px, 0 0;
  }
}

.field--mail .field__input {
  @media (min-width: $tablet-width) {
    background-image: url("../img/mail-icon.svg"),
      linear-gradient(to left, $whisper 60px, $white 60px);
    background-repeat: no-repeat;
    background-size: 18px 13px, auto;
    background-position: 453px 23px, 0 0;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    background-position: 328px 23px, 0 0;
  }
}
