.footer-developer {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.footer-developer__icon {
  display: block;
  fill: $cerise;

  &:hover {
    fill: $midnight;
  }

  &:active {
    fill: $midnight;
    opacity: 0.3;
  }
}

.footer-developer__link {
  &:focus {
    outline: 2px solid $cerise;
    outline-offset: 3px;
  }
}

.footer-developer__text {
  padding-right: 15px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
