.footer-developer {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.footer-developer__icon {
  display: block;
  color: $cerise;
}

.footer-developer__text {
  padding-right: 15px;
  padding-top: 5px;
}
