.footer-social {
  padding-top: 41px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 75px;
  }
}

.footer-social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-left: 74px;

  @media (min-width: $tablet-width) {
    padding-left: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 240px;
  }
}

.footer-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.footer-social__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  color: $cerise;
  border: 3px solid $midnight;
  border-radius: 50%;
  padding: 20px;
  width: 48px;
  height: 48px;
}

.footer-social__link--twitter {
  background-image: url("../img/twitter.svg");
}

.footer-social__link--facebook {
  background-image: url("../img/facebook.svg");
}

.footer-social__link--youtube {
  background-image: url("../img/youtube.svg");
}
