.footer-social {
  padding-top: 41px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 75px;
  }
}

.footer-social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.footer-social__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  color: $cerise;
  border: 3px solid rgba($midnight, 0.1);
  border-radius: 50%;
  padding: 20px;
  width: 48px;
  height: 48px;

  &:hover {
    border-color: $black;
  }

  &:focus {
    outline: 2px solid $cerise;
  }

  &:active {
    opacity: 0.1;
  }
}

.footer-social__link--twitter {
  background-image: url("../img/twitter.svg");
}

.footer-social__link--facebook {
  background-image: url("../img/facebook.svg");
}

.footer-social__link--youtube {
  background-image: url("../img/youtube.svg");
}
