.form-сheckbox {
  background-color: #f2f2f2;
  margin-top: 44px;
}

.form-сheckbox__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-сheckbox__heading {
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 44px;
  background-color: #f2f2f2;
}
