.form-radio {
  background-color: #f2f2f2;
  margin-top: 44px;
  margin-bottom: 42px;
}

.form-radio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-radio__heading {
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
