.form-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-group__heading {
  text-transform: uppercase;
  color: $raspberry;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.form-group__field {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: $raspberry;
  margin-top: 29px;
  text-transform: uppercase;
}
