.form-radio {
  background-color: $white-smoke;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: none;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.form-radio__wrapper {
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    border-radius: 1px;
  }
}

.form-radio__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-top: 22px;
    padding-right: 40px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 53px;
    padding-top: 19px;
    padding-right: 40px;
    padding-bottom: 26px;
  }
}

.form-radio__heading {
  text-transform: uppercase;
  color: $cerise;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  background-color: $white-smoke;
  padding-top: 42px;
  padding-bottom: 10px;


  @media (min-width: $tablet-width) {
    background-color: $white;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
  }
}

.form-radio__field {
  position: relative;
}
