.form-сheckbox {
  background-color: $white-smoke;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: none;
  }
}

.form-checkbox__wrapper {
  padding-bottom: 21px;
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form-сheckbox__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    display: grid;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 270px 250px 220px;
    column-gap: 42px;
  }
}

.form-сheckbox__heading {
  text-transform: uppercase;
  color: $cerise;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  background-color: $white-smoke;
  margin-top: 42px;
  margin-bottom: 44px;
  padding-left: 40px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin-top: 0;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.form-сheckbox__field {
  position: relative;
}

.form-сheckbox__item:nth-child(3n-2) {
  @media (min-width: $tablet-width) {
    order: -2;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.form-сheckbox__item:nth-child(3n-1) {
  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}
