.form-сheckbox {
  background-color: $white-smoke;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: 2px solid $whisper;
    border-radius: 1px;
  }
}

.form-checkbox__wrapper {
  border: none;
  padding-bottom: 21px;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form-сheckbox__list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 240px 210px;
    padding-left: 60px;
    row-gap: 47px;
    column-gap: 55px;
  }
}

.form-сheckbox__heading {
  text-transform: uppercase;
  color: $cerise;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  background-color: $white-smoke;
  margin-top: 42px;
  margin-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}
