.information {
  display: none;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.information__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: $black;
  padding-top: 102px;
  padding-bottom: 24px;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 37px;
  }
}

.information__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $midnight;
  padding-bottom: 24px;

  @media (min-width: $desktop-width) {
    padding-bottom: 47px;
  }
}

.information__link {
  text-decoration-line: underline;
  color: $cerise;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 29px;

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.information__wrapper {
  padding-left: 310px;
  background-image: url("../img/24.svg");
  background-repeat: no-repeat;
  background-position: left;
}
