.information {
  display: none;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $white-smoke;
  }
}

.information__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: $black;
  padding-top: 99px;
  padding-bottom: 12px;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-top: 44px;
    padding-bottom: 26px;
  }
}

.information__subtitle {
  display: block;
  padding-top: 7px;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.information__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $midnight;
  padding-bottom: 6px;
  padding-right: 10px;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.information__link {
  text-decoration-line: underline;
  color: $cerise;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 29px;

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
    font-size: 18px;
    line-height: 30px;
  }
}

.information__wrapper {
  padding-left: 310px;
  background-image: url("../img/24.svg");
  background-repeat: no-repeat;
  background-position: 0 54px;
  padding-bottom: 11px;

  @media (min-width: $desktop-width) {
    padding-left: 369px;
    background-size: 298px 345px;
    background-position: 0 18px;
    padding-top: 70px;
    padding-bottom: 111px;
  }
}
