.information {
  display: none;
  background-image: url("../img/24.svg");
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.information__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: $black;
}

.information__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $midnight;
}

.information__link {
  text-decoration-line: underline;
  color: $cerise;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .information {
    display: block;
  }

  .information__title {
    padding-top: 102px;
    padding-bottom: 24px;
  }

  .information__description {
    padding-bottom: 24px;
  }

  .information__link {
    padding-bottom: 29px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    display: block;
    padding-left: 131px;
    padding-right: 166px;
  }

  .information__title {
    padding-top: 115px;
    padding-bottom: 37px;
  }

  .information__description {
    padding-bottom: 47px;
  }

  .information__link {
    padding-bottom: 120px;
  }
}
