.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: flex;

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

.main-nav__toggle {
  background-color: transparent;
  fill: $white;
  width: 62px;
  height: 24px;
  border: none;
  position: absolute;
  top: 20px;
  right: 14px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: flex-end;

  &:hover {
    fill: $cerise;
  }

  &:active {
    fill: rgba($cerise, 0.3);
  }

  &:focus {
    outline: 2px solid $cerise;
    outline-offset: -1px;
  }

  @media (min-width: $tablet-width) {
    top: 42px;
    right: 16px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__icon-open {
  display: none;
}

.main-nav--closed .main-nav__icon-close {
  display: none;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 1);

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 79px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
  }
}

.main-nav__item {
  background-color: $midnight;
  text-align: center;

  @media (max-width: $tablet-width-down) {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }

  &:hover {
    color: $cerise;
  }

  &:active {
    color: $cerise;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;

    &:hover {
      color: $cerise;
    }

    &:active {
      color: $white;
      opacity: 0.3;
    }
  }
}

.main-nav__item:not(:last-child) {
  @media (max-width: $tablet-width-down) {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }
}

.main-nav__item--current {
  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -13px;
      left: 0;
      height: 2px;
      background: $white;
    }
  }
}

@media (max-width: $tablet-width-down) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

.main-nav__link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $white;
  text-transform: uppercase;
  display: block;

  @media (min-width: $desktop-width) {
    text-transform: none;
    padding: 0;
  }

  &:hover {
    color: $cerise;
  }

  &:focus {
    outline: 2px solid $cerise;
    outline-offset: -1px;
  }

  &:active {
    color: $white;
    opacity: 0.3;
  }
}
