.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: flex;

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

.main-nav__toggle {
  background-image: url("../img/open-menu-btn.svg");
  background-size: 50px 24px;
  background-repeat: no-repeat;
  background-color: $midnight;
  width: 50px;
  height: 24px;
  border: none;
  position: absolute;
  top: 21px;
  right: 20px;

  @media (min-width: $tablet-width) {
    top: 43px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 78px;
    justify-content: center;
    align-items: center;
  }
}

.main-nav__item {
  background-color: $midnight;
  text-align: center;

  @media (max-width: $tablet-width-down) {
    box-shadow:
      0 1px 0 #000000,
      inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }
}

.main-nav__link {
  padding-top: 25px;
  padding-bottom: 25px;
  color: $white;
  text-transform: uppercase;
  display: block;

  @media (min-width: $desktop-width) {
    text-transform: none;
    padding: 0;
  }
}
