.map-picture {
  position: relative;
}

.map-picture::before {
  content: "";
  background-image: url("../img/triangle_footer.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;

  @media (min-width: $tablet-width) {
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    height: 107px;
  }
}

.map-picture iframe {
  border: none;
  display: block;
  width: 100%;
}

.map-picture__frame {
  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}
