.page-footer__wrapper {
  padding-bottom: 40px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-top: -15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &:focus {
    outline: 2px solid $cerise;
  }
}

.page-footer__pink-logo {
  fill: $midnight;

  &:hover {
    fill: $cerise;
  }

  &:active {
    fill: $midnight;
    opacity: 0.3;
  }
}

.page-footer__pink-logo--visible-tablet {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__pink-logo--visible-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 0;
  }
}

.page-footer__social {
  padding-top: 41px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
