.page-footer__wrapper {
  padding-bottom: 40px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 190px 1fr 190px;
    align-items: center;
    padding: 0;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
