.page-footer {
  padding-bottom: 40px;
  padding-top: 40px;
}

.page-footer__logo {
  padding-left: 88px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 190px 1fr 190px;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .page-footer__logo {
    padding-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-right: 130px;
    padding-left: 130px;
  }

  .page-footer__logo {
    padding: 0;
  }
}
