.page-header {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background-color: rgba($black, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.page-header--opened {
  background-color: $midnight;
}


.page-header__logo {
  color: $white;
  background-repeat: no-repeat;
  display: block;
  padding-left: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 120px;

  &:focus {
    outline: 2px solid $cerise;
    outline-offset: -2px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
    width: 100px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    width: 147px;
  }
}

.page-header__wrapper {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
}

.page-header__pink-logo {
  fill: $white;

  &:hover {
    fill: $cerise;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.page-header__pink-logo--visible-phone {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__pink-logo--visible-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__pink-logo--visible-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
