.page-header {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background-color: $midnight;
  position: relative;
}

.page-header__logo {
  color: $white;
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  display: block;
  padding-left: 20px;
  padding-top: 21px;
  padding-bottom: 21px;

  @media (max-width: $tablet-width-down) {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 21px;
    padding-left: 20px;
    border-bottom: none;
  }
}

.page-header__wrapper {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
}
