.page-header {
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background-color: $midnight;
  position: relative;
}

.page-header__logo {
  color: $white;
  background-color: $midnight;
  background-repeat: no-repeat;
  margin-bottom: 21px;
  display: block;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
    padding-left: 20px;
  }
}

.page-header__wrapper {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
}
