.page-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  background-color: #283645;
}

.page-header__logo {
  display: block;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 21px;
  color: #ffffff;
  background-image: url("../img/blue-background.jpeg");
  background-repeat: no-repeat;
  background-size: 320px 66px;
}
