.photo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 300px 300px 300px;
    row-gap: 55px;
  }
}

.photo-list__card--main {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}
