.photo-post__buttons {
  padding-top: 38px;
  padding-bottom: 41px;
  display: block;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 0;
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 183px 183px;
    column-gap: 44px;
    padding-top: 107px;
  }
}

.photo-post__submit {
  width: 280px;
  height: 55px;
  border: 3px solid $cerise;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $cerise;
  margin-bottom: 12px;

  &:hover {
    background-color: $cerise;
    color: $white;
  }

  &:focus {
    outline: 2px solid $cerise;
  }

  &:active {
    background-color: $cerise;
    color: rgba($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    margin-top: 25px;
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin-right: 0;
    margin-top: 0;
  }
}

.photo-post__reset {
  width: 280px;
  height: 55px;
  opacity: 0.1;
  border: 3px solid $midnight;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid $cerise;
  }

  &:active {
    background-color: $midnight;
    color: $white;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.photo-post__image {
  padding-top: 20px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    grid-row: 1/3;
    padding: 0;
    padding-left: 20px;
    width: 300px;
    height: 400px;
  }
}

.photo-post__scale {
  @media (min-width: $tablet-width) {
    padding-left: 51px;
    // padding-top: 20px;
    // padding-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
