.photo-card {
  background-color: $white-smoke;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.photo-card__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photo-card__title {
  display: block;
  width: fit-content;
  font-weight: 700;
  margin: 0;
  padding-bottom: 14px;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.photo-card__text {
  text-transform: uppercase;
  margin: 0;
  display: block;
  width: fit-content;
}

.photo-card__subtext {
  margin: 0;
  padding-left: 48px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.photo-card__description {
  margin: 0;
  padding-bottom: 23px;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.photo-card__link {
  padding-bottom: 25px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 31px;
  }
}

.photo-card__image--first {
  width: 100vw;
  max-width: none;
  flex-shrink: 0;
}
