.photo-card {
  background-color: $white-smoke;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.photo-card__block {
  display: flex;
}

.photo-card__title {
  display: block;
  font-weight: 700;
  margin: 0;
  padding-bottom: 7px;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.photo-card__text {
  text-transform: uppercase;
  margin: 0;
  display: block;
  flex-grow: 1;
  padding-left: 3px;
}

.photo-card__subtext {
  margin: 0;
  padding-left: 48px;
  position: relative;
  color: $cerise;
  border: none;
  background-color: inherit;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.photo-card__subtext::before {
  content: "";
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 13px;
  height: 12px;
  top: 6px;
  left: 17px;

  @media (min-width: $tablet-width) {
    left: 260px;
  }
}

.photo-card--main .photo-card__subtext {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 529px;
    left: 425px;
  }

  @media (min-width: $desktop-width) {
    top: 535px;
    left: 745px;
  }
}

.photo-card--main .photo-card__subtext::before {
  @media (min-width: $tablet-width) {
    top: 8px;
    left: 155px;
  }
}

.photo-card--main {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.photo-card__description {
  margin: 0;
  padding-bottom: 25px;
  padding-left: 17px;
  padding-right: 17px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
    padding-bottom: 27px;
    padding-right: 27px;
  }
}

.photo-card__link {
  display: flex;
  justify-content: center;

  &:hover {
    filter: grayscale(50%);
  }
}

.photo-card__image {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.photo-card__image--first {
  width: 100vw;
  max-width: none;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    height: 506px;
  }
}

.photo-card__button {
  font-size: 14px;
  line-height: 24px;
}

.photo-card--main::before {
  content: "ПАНОРАМА ДНЯ";
  background-color: $cerise;
  color: $white;
  padding-right: 20px;
  padding-left: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  width: 140px;
  position: absolute;
  top: 0;
  left: 140px;

  @media (min-width: $tablet-width) {
    top: 57px;
    left: 480px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 140px;
  }
}
