.photo-post__buttons {
  padding-top: 38px;
  padding-bottom: 41px;
}

.photo-post__submit {
  width: 280px;
  height: 55px;
  border: 3px solid $raspberry;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $raspberry;
}

.photo-post__reset {
  width: 280px;
  height: 55px;
  opacity: 0.1;
  border: 3px solid $text-black;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
