.post {
  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.post__form {
  background-color: $white-smoke;
}

.post__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding-top: 44px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 64px;
    padding-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
    padding-bottom: 67px;
  }
}

.post__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 275px;
    grid-template-rows: 215px 185px;
    padding-bottom: 54px;
    padding-top: 57px;
    column-gap: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    display: grid;
    grid-template-columns: 300px 455px;
    grid-template-rows: 215px 205px;
    padding-bottom: 57px;
    padding-top: 37px;
    padding-left: 58px;
    padding-right: 60px;
    column-gap: 90px;
  }
}

.post__picture {
  @media (min-width: $tablet-width) {
    grid-row: 1/3;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}
