.post-form {
  padding: 0;
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 465px 431px;
    grid-template-areas:
      "pesronal app"
      "contact contact"
      "achivements achivements"
      "emotions emotions"
      "buttons text";
  }
}

.post-form__group {
  border: none;
  padding: 0;
  padding-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .post-form__group:not(:last-child) {
    padding-bottom: 56px;
  }
}

.post-form__text {
  text-transform: uppercase;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 26px;
  grid-area: text;
}

.post-form__button {
  width: 100%;
  grid-area: buttons;

  @media (min-width: $desktop-width) {
    width: 296px;
  }
}
