.post-form {
  display: grid;
  grid-template-areas:
    "personal"
    "achievements"
    "contact"
    "app"
    "emotions"
    "buttons";

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 465px 431px;
    grid-template-areas:
      "personal app"
      "contact contact"
      "achievements achievements"
      "emotions emotions"
      "buttons buttons";
    column-gap: 44px;
    // justify-content: center;
  }
}

.post-form__group {
  border: none;
  padding: 0;
}

.post-form__group--personal {
  grid-area: personal;
  padding-top: 26px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    padding-bottom: 0;
  }
}

.post-form__group--contact {
  grid-area: contact;
  padding-top: 26px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 50px;
  }
}

.post-form__group--emotions {
  grid-area: emotions;
  padding-top: 24px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 64px;
    padding-bottom: 69px;
  }
}

.post-form__group--app {
  grid-area: app;

  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.post-form__group--achievements {
  grid-area: achievements;

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.post-form__text {
  text-transform: uppercase;
  text-align: center;
  padding-top: 38px;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
  }
}

.post-form__text--hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.post-form__footer {
  grid-area: buttons;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-bottom: 0;
  }
}

.post-form__button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 17px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 296px;
    margin-right: 140px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }

  &:hover {
    background-color: $eucalyptus;
  }

  &:focus {
    outline: 2px solid $cerise;
  }

  &:active {
    background-color: $eucalyptus;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $whisper;
  }
}
