.post-form {
  display: grid;
  grid-template-columns: 280px;
  grid-template-areas:
    "personal"
    "achievements"
    "contact"
    "app"
    "emotions"
    "buttons";

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 465px 431px;
    grid-template-areas:
      "personal app"
      "contact contact"
      "achievements achievements"
      "emotions emotions"
      "buttons buttons";
    column-gap: 44px;
  }
}

.post-form__group {
  border: none;
  padding: 0;
}

.post-form__group--personal {
  grid-area: personal;
  padding-top: 45px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    padding-bottom: 0;
  }
}

.post-form__group--contact {
  grid-area: contact;
  padding-top: 32px;
  padding-bottom: 15px;
}

.post-form__group--emotions {
  grid-area: emotions;
  padding-top: 38px;
  padding-bottom: 52px;

  @media (min-width: $desktop-width) {
    padding-top: 64px;
    padding-bottom: 69px;
  }
}

.post-form__group--app {
  grid-area: app;

  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.post-form__group--achievements {
  grid-area: achievements;

  @media (min-width: $desktop-width) {
    padding-top: 64px;
    padding-bottom: 33px;
  }
}

.post-form__text {
  text-transform: uppercase;
  text-align: center;
  padding-top: 46px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.post-form__text--hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.post-form__footer {
  grid-area: buttons;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.post-form__button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 296px;
    margin-right: 140px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
