.post-form {
  margin: 0;
  padding: 0;
}

.post-form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.post-form__text {
  text-transform: uppercase;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 26px;
}

