.price {
  background-color: $white-smoke;
  overflow: hidden;

  @include triangle;
}

.price__table {
  width: 840px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.price__wrapper {
  display: grid;
  justify-content: center;
  padding-top: 127px;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 159px;
    padding-bottom: 98px;
  }
}
