.radio {
  display: flex;
  align-items: center;
}

.radio__text {
  font-size: 18px;
  line-height: 30px;
  padding-left: 31px;

  @media (min-width: $desktop-width) {
    padding-left: 22px;
  }
}

.radio__input {
  margin-bottom: 19px;
  margin-top: 19px;
  width: 37px;
  height: 37px;
  background: $white;
  border: 2px solid $whisper;
  z-index: 2;
  opacity: 0;
}

.radio__input[type="radio"] + .radio__text::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 4px;
  width: 39px;
  height: 39px;
  background-color: $white;
  border-radius: 50%;
  border: 2px solid $whisper;
  cursor: pointer;
}

.radio__input[type="radio"]:hover + .radio__text::before {
  border-color: $midnight;
}

.radio__input[type="radio"]:focus + .radio__text::before {
  outline: 2px solid $cerise;
  outline-offset: 2px;
}

.radio__input[type="radio"]:active + .radio__text::before {
  border-color: $cerise;
}

.radio__input[type="radio"]:checked + .radio__text::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 16px;
  width: 15px;
  height: 15px;
  background-color: $cerise;
  border-radius: 50%;
}

.radio__input[type="radio"]:checked:hover + .radio__text::after {
  border-color: $midnight;
}

.radio__input[type="radio"]:checked:focus + .radio__text::before {
  outline: 2px solid $cerise;
}

.radio__input[type="radio"]:checked:active + .radio__text::before {
  border-color: $cerise;
}
