.reviews__wrapper {
  padding-top: 50px;
  padding-bottom: 110px;

  @media (min-width: $tablet-width) {
    padding-top: 109px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 193px;
    padding-bottom: 41px;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__item {
  display: grid;
  place-content: center;
}

.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 17px;
  }
}

.reviews__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $midnight;
  margin: 0;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding: 0;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    padding-right: 126px;
    padding-left: 126px;
    padding-top: 121px;
    padding-bottom: 50px;
  }
}

.reviews__subtitle {
  display: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $midnight;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
