.reviews {
  padding-top: 50px;
  padding-bottom: 60px;
}

.reviews__list {
  list-style-type: none;
  padding: 0;
}

.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $black;
}

.reviews__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $text-black;
}

.reviews__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $text-black;
}
