.reviews__wrapper {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 109px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 193px;
    padding-bottom: 41px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-size: 79px 63px;
    background-position: 430px 72px;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__item {
  display: grid;
  place-content: center;
}

.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 17px;
  }
}

.reviews__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $midnight;
  margin: 0;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
    order: -1;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 126px;
    padding-left: 126px;
    width: 790px;
  }
}

.reviews__subtitle {
  display: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $midnight;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.reviews__buttons {
  padding-top: 30px;
  padding-bottom: 35px;
  display: grid;
  grid-template-columns: 10px 10px 10px;
  column-gap: 14px;
  padding-left: 110px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 36px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
