.switch {
  text-align: center;
}

.switch__buttons {
  width: 12px;
  height: 12px;
  background-color: $midnight;
  opacity: 0.3;
  border-radius: 50%;
  border: 1px solid $white;
  margin-right: 10px;
  padding: 0;
  background-clip: content-box;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid rgba($cerise, 1);
  }

  &:active {
    opacity: 0.1;
  }
}

.switch__buttons--current {
  border: 3px solid $midnight;
  opacity: 1;
  background-color: $white;

  &:hover {
    opacity: 1;
  }
}
