.tabs {
  display: flex;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tabs__tab {
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  margin-top: 42px;
  margin-bottom: 39px;
  background-color: $white-smoke;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 2px solid $cerise;
    outline-offset: 2px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    margin-right: 29px;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
    margin-right: 29px;
    margin-top: 15px;
  }
}

.tabs__icon {
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tabs__icon--crop {
  fill: $cerise;
}

.tabs__icon--fill {
  fill: $midnight;
  opacity: 0.3;
}

.tabs__icon--contrast {
  fill: $midnight;
  opacity: 0.3;
}
