.tabs__tab {
  border: none;
  margin-bottom: 39px;
  margin-top: 43px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}

.tabs__tab--crop {
  background-image: url("../img/crop.svg");
}

.tabs__tab--fill {
  background-image: url("../img/fill.svg");
}

.tabs__tab--contrast {
  background-image: url("../img/contrast.svg");
}
