.tabs {
  display: flex;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tabs__tab {
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  margin-top: 42px;
  margin-bottom: 39px;
  background-color: $white-smoke;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    margin-right: 29px;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
    margin-right: 29px;
    margin-top: 15px;
  }
}

.tabs__tab--crop {
  background-image: url("../img/crop.svg");
}

.tabs__tab--fill {
  background-image: url("../img/fill.svg");
}

.tabs__tab--contrast {
  background-image: url("../img/contrast.svg");
}
