.text-block {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.text-block--inner {
  justify-content: center;
  margin: 0;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}

.text-block__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 9px;
  }
}
