body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: $white;
  color: $midnight;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
