$cerise: #d22856;
$lime-green: #3dc644;
$outrageous-orange: #f25b26;
$white: #ffffff;
$white-smoke: #f2f2f2;
$midnight: #283645;
$medium-sea: #2aab6d;
$black: #000000;
$whisper: #e5e5e5;
$blue-charcoal: #1d2631;

$tablet-width: 660px;
$desktop-width: 1080px;
$mobile-width-only: 659px;
$tablet-width-down: 1079px;
