@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/opensans.woff2"),
  url("/source/fonts/opensans.woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/opensansbold.woff2"),
  url("/source/fonts/opensansbold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/source/fonts/opensanslight.woff2"),
  url("/source/fonts/opensanslight.woff");
  font-display: swap;
}
